/*Global CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Navigation*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 120px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-list li {
  list-style: none;
}

.nav-list .nav-list-item:link,
.nav-list .nav-list-item:visited {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  transition: color 0.3s;
  padding: 16px 15px;
  position: relative;
  display: inline-block;
}

.nav-list .nav-list-item::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: calc(100% - 30px);
  height: 1px;
  background-color: rgb(255, 196, 0);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav-list .nav-list-item:hover::after,
.nav-list .nav-list-item:active::after {
  transform: scaleX(1);
}

.nav-list .nav-list-item:hover,
.nav-list .nav-list-item:active {
  color: rgb(255, 255, 255);
}

.bi {
  color: rgb(255, 255, 255);
  font-size: 26px;
  font-weight: 700;
}

.bi:hover,
.bi:active {
  color: rgb(255, 196, 0);
  cursor: pointer;
}

/*Hero Section*/
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url("./img/hero-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 650px;
  padding: 30px 50px;
  margin-bottom: 50px;
}

.hero-content {
  max-width: 900px;
  margin-top: 120px;
  color: white;
}

.heading-primary {
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 30px;
}

.hero-text {
  font-size: 30px;
  margin-bottom: 50px;
}

.btn-hero:link,
.btn-hero:visited {
  display: inline-block;
  text-decoration: none;
  background-color: #f4c542;
  color: black;
  font-size: 24px;
  font-weight: 700;
  padding: 18px 36px;
  border-radius: 10px;
}

/*About Us Section*/
.about-us{
    margin-inline: 170px;
    margin-bottom: 50px;
}

.heading-secondery {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 15px;
}

.title-line {
  height: 1px;
  background-color: #e5e5e5;
  margin-bottom: 50px;
  position: relative;
}

.title-line span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 110px;
  height: 3px;
  background-color: #f4c542;
}

.flex-container {
    display: flex;
}

.about-us-content-box {
    width: 170%;
}

.section-text {
font-size: 28px;
line-height: 43px;
}

.about-us-img-box img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.features {
    display: flex;
    margin-top: 40px;
}

.features img{
    width: 100%;
}

.feat-text {
    text-align: center;
    font-size: 23px;
    font-weight: 800;
}

.features div {
    border-right: 1px solid #e5e5e5;
}

.features div:last-child {
    border-right: none;
}

/*Products Section*/
.products-title {
    position: relative;
    width: fit-content;
    margin: 0 auto 3rem;
    color: white;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.products-title::before,
.products-title::after {
    content: "";
    position: absolute;
    top: 45%;
    width: 220px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
}

.products-title::before {
    right: 100%;
    margin-right: 30px;
}

.products-title::after {
    left: 100%;
    margin-left: 30px;
}

.products-title span {
    display: block;
    width: 110px;
    height: 3px;
    margin: 10px auto 0;
    background-color: #f4c542;
}

.products-section {
   background-image: url("./img/products-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 820px;
  padding: 30px 50px;
  margin-bottom: 50px; 
}

.products-tabs {
    display: flex;
    justify-content: center;
    gap: 0;
    margin-bottom: 50px;
}

.tab-btn {
    border: 1px solid #333;
    background-color: #1f1f1f;
    color: white;
    padding: 10px 40px;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.tab-btn.active {
    background-color: #f4c542;
    color: #111;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
}

.product-card {
    background-color: #f1f1f1;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
}

.product-img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.product-content {
    padding: 32px 25px;
}

.product-name {
    font-size: 21px;
    margin-bottom: 20px;
}

.product-price {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 25px;
}

.shop-btn {
    border: none;
    background-color: #f4c542;
    color: #111;
    padding: 16px 32px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
}

